.glow-button {
    background-color: #32CD32; /* Light Green */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    
    transition: 0.3s ease-in-out;
}
@keyframes blink {
    50% { border-color: transparent; }
}
.nav-link {
    transition: all 0.4s ease;
}

.nav-link:hover {
    transform: scale(1.12);
}


