/* Header */
.brand-text{
    color:aquamarine ;
}
.name{
    font-weight: bold;
}
.name-color{
    color: lawngreen;
}
.p1{
    max-width: 100%;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 0 15px 5px rgba(204, 252, 59, 0.7)
}
/* Name Animation */
.typing-container {
    font-weight: bold;
}
.letter {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
/* Icons */
.icon{
    font-size: 2rem;
}
.icon-2{
    font-size: 2rem;
}
/* body */
body{
    background-color: black;
 }
.look{
    color: white;
    font-weight: bold;
}
.oval {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 50px;
}
.navbar-toggler{
    background-color: #04AA6D;
}
#Education {
    display: none;
}
#Experiance {
    display: none; /* Hidden by default */
}
#Achivements {
    display: none; /* Hidden by default */
}


/* Projects */
.c1{
    width: 18rem;
}
.c2{
    width: 18rem;
}
.progress{
    width:100%;
    margin-left: 2px;
    margin-right: 2px;
}
.progress-bar{
    margin: 3px;
}
.T1{
    margin-left: 20px;
    margin-top: 5px;
}
.P1{
    margin-right:2rem;
}

.meet{
    max-width: 100%;
    width:20rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}