@media (max-width: 992px){
    /* Navbar */
    .navbar{
    font-size:small;
    display: flex;
    justify-content:space-around;
    text-align: center;
    }
    .p1{
        margin-top: 10px;
        max-width:100%;
        height: 290px;
        width:290px;
    }
    .mat{
        text-align: center;
    }
    .links{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .meet{
        max-width: 100%;
        height: 20rem;
    }
}
@media(max-width:768px){
    .meet{
        display: none;
    }
}